<%- include("header") -%>

<div class="box" id="heading">
    <h1> <%= semesterTitle %> </h1>
  </div>

  <div class="box">
    <% courses.forEach(function(course){ %>
      <form action="/delete" method="post">
        <div class="item">
          <input name="checkbox" type="checkbox" value="<%= course._id %>" onChange="this.form.submit();">
          <p><%=  course.name  %></p>
        </div>
        <input type="hidden" name="semesterName" value="<%= semesterTitle %>"></input>
      </form>
      <% }); %>

      <form class="item" action="/" method="post">
        <input type="text" name="newCourse" placeholder="New Item" autocomplete="off">
        <button type="submit" name="semester" value="<%= semesterTitle %>">+</button>
      </form>
  </div>

<%- include("footer") -%>